<h1 class="display-4">Stock Market System admin page</h1>

<p class="lead">Location:Add Company</p>
<hr/>
<div class="container">
    <form action="">

        <div class="form-group">
            <label for="exchange">Company Name</label>
            <input type="text" class="form-control" id="exchange">
        </div>
        <div class="form-group">
            <label for="brief">Turn Over</label>
            <input type="text" class="form-control" id="brief">
        </div>
        <div class="form-group">
            <label for="address">CEO Name</label>
            <input type="text" class="form-control" id="address">
        </div>
        <div class="form-group">
            <label for="remarks">Sector</label>
            <input type="text" class="form-control" id="remarks">
        </div>
        <div class="form-group">
            <label for="remarks">IPO date</label>
            <input type="date" class="form-control" id="remarks">
        </div>
        <div class="form-group">
            <label for="remarks">Stock Exchange</label>
            <select class="custom-select">
                <option selected>Choose...</option>
                <option *ngFor="let item of exchanges" value="{{item}}">{{item}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="remarks">Brief Intro</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>