
<body class="text-center">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">{{head}}</h1>
      <div class="alert alert-danger" *ngIf="msg!==''" role="alert">
        {{msg}}
      </div>
      <label for="username" class="sr-only">Username</label>
      <input [(ngModel)]="user.username" name="user.username" type="text" id="username" class="form-control" placeholder="Username" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input [(ngModel)]="user.password" name="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <br>
        <label>
            <a href="#">forget password</a>
        </label>
      </div>
        <button type="submit" class="btn btn-primary" (click)="login()">Sign in</button>
        <button type="button" class="btn btn-success" (click)="toSignup()">Signup</button>
    </form>
</body>