<h1 class="display-4">Stock Market System admin page</h1>

<p class="lead">Location:Stock exchange list</p>
<hr/>
<div class="container">
    <button class="btn btn-primary" (click)="newCompany()">Add New</button>
    <table class="table table-striped">
        <thead >
          <tr>
            <th scope="col">#</th>
            <th scope="col">Stock Exchanges</th>
            <th scope="col">Brief</th>
            <th scope="col">Contact Address</th>
            <th scope="col">Remark</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of exchangeList;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{c.exchange}}</td>
            <td>{{c.brief}}</td>
            <td>{{c.address}}</td>
            <td>{{c.remark}}</td>
            <td>Detail</td>
          </tr>
        </tbody>
    </table>

</div>