<body>
    <form action="test" method="post">
        <div class="form-group">
            <label for="phone">Your Phone number</label>
            <input type="text" class="form-control" id="phone" name="user.phone" />
            <button class="btn btn-secondary">Send verify code</button>
        </div>
        <div class="form-group">
            <label for="verifyCd">Please input verify code here</label>
            <input type="text" class="form-control" id="verifyCd" name="verifyCd" />
        </div>
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight"></div>
            <div class="p-2 bd-highlight">
                <button type="submit" class="btn btn-primary" >Complete signup</button>
            </div>

        </div>
    </form>
    
</body>