<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="row justify-content-md-center">
            
            <div class="col-md-auto">
                <h1 class="mt-5">Stock Management system user page</h1>
                <p>current-location: Compare company/sector detail</p>
                <hr>
                
                <div id="lineChart" style="width: 1000px;height:600px;"></div>

            </div>
        </div>
    </div>
  </main>
