<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="row justify-content-md-center">
            
            <div class="col-md-auto">
                <h1 class="mt-5">Stock Management system user page</h1>
                <p>current-location: IPO</p>
                <hr>
                
                <div class="form-group">
                    <label for="company">Choose the company/IPO</label>
                    <select class="custom-select" id="company" cha [(ngModel)]="exchangeSel">
                      <option selected>Choose...</option>
                      <option *ngFor="let item of exchanges" value="{{item}}">{{item}}</option>
                    </select>
                </div>

                <table class="table table-striped">
                    <thead >
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Stock code</th>
                        <th scope="col">Company name</th>
                        <th scope="col">Stock exchange</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let c of companys;let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{c.stockCode}}</td>
                        <td>{{c.companyName}}</td>
                        <td>{{c.exchangeName}}</td>
                        <td><a [routerLink]="[ '/user/companyDetail', c.id ]">Detail</a></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </main>