<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Stock Market</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let item of menuList">
          <a class="nav-link" [routerLink]="[ '/'+item.url ]" routerLinkActive="active">{{item.name}}</a>

        </li>
      </ul>
    </div>
  </nav>